/*Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
body {
  font-weight: 300;
}
nav {
  background: #004e92;
}

nav .container > * {
  color: #fff !important;
}

.social-Logo a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.sectionFull {
  min-height: calc(100vh - 56px);
  /*min-height: 100vh;*/
}

#home-text {
  background: url(../img/fondoHome.svg);
  background-repeat: repeat;
}

#home-text .container > * {
  color: #fff;
}

#metodo {
  background: #92cdd1;
}

#metodo-img {
  height: 100%;
}

#metodo-img img {
  height: 100%;
  width: 100%;
}

.metodo-imgs,
.tinki-imgs {
  height: 100%;
}

.metodo-imgs img,
.tinki-imgs img {
  height: 100%;
  width: 100%;
}

#method1 {
  background-color: #fff1d9;
}

#method2 {
  background-color: #83d1f5;
}

#method3 {
  background-color: #e0e4ed;
}

#method4 {
  /* background-color: #737AFB; */
  background-color: #aaafff;
}

#contact {
  background: #ffba4e;
}

#contactIcons a img {
  height: 30px;
}

#submitContactForm {
  background: #ff8154;
  color: #fff;
}

#tinki-home {
  min-height: 75vh;
  background: #8fd3ff;
  position: relative;
}

#tinki-home img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#tinki-home h2 {
  display: block;
  z-index: 100;
  font-weight: 300;
  line-height: .6;
}

#tinki-home h2 small {
  font-size: 0.9rem;
}

#tinki-description-ul {
  padding: 0;
}

#tinki-description-ul li{
  font-weight: 300;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 7px;
  text-transform: capitalize;
  background: #8fd3ff;
  display: inline-block;
}

.tinki-details-text h3,
.asti-details-text h3,
.kapp-details-text h3,
.yampa-details-text h3{
  font-size: 1.4rem;
  font-weight: 400;
}

.tinki-details-img,
.asti-details-img,
.kapp-details-img,
.yampa-details-img{
  width: 80%;
}

#asti-home{
  min-height: 75vh;
  background-color: #A3DFEF;
}

#asti-home img,
#kapp-home img,
#yampa-home img{
  width: 100%;;
}

#asti-home-text,
#kapp-home-text,
#yampa-home-text{
  text-align: center;
}

#asti-home-text h2,
#kapp-home-text h2,
#yampa-home-text h2{
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}

#asti-home-text h2 small,
#kapp-home-text h2 small,
#yampa-home-text h2 small{
  font-size: 2rem;
}

#asti-home-text h2 small {
  background: #000;
  color: #A3DFEF !important;
  padding: 2px 10px;
}

#asti-description-ul ,
#kapp-description-ul,
#yampa-description-ul{
  padding: 0;
}

#asti-description-ul li,
#kapp-description-ul li,
#yampa-description-ul li{
  font-weight: 300;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 7px;
  text-transform: capitalize;
  background: #A3DFEF;
  display: inline-block;
}

#kapp-home{
  color: #fff;
  background-color: #FF9B80;
}

#kapp-home-text h2 small{
  /*color: #E9ECEF;*/
  background: #fff;
  color: #FF9B80;
  padding: 2px 10px;
}

#kapp-description-ul li{
  background: #FF9B80;
}

#yampa-home{
  color: #fff;
  background-color: #B3C6F3;
}

#yampa-home-text h2 small{
  /*color: #E9ECEF;*/
  background: #fff;
  color: #B3C6F3;
  padding: 2px 10px;
}

#yampa-description-ul li{
  background: #B3C6F3;
}

footer {
  font-size: 0.8rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  body {
    /*background: red;*/
  }
  .social-Logo a {
    margin: 0;
  }

  #tinki-home {
    min-height: calc(100vh - 56px);
  }

  #tinki-home h2 {
    font-size: 4rem;
    line-height: .5;
  }

  #tinki-home h2 small {
    font-size: 1.2rem;
  }

  #asti-home-text,
  #yampa-home-text{
    text-align: right;
  }


  #kapp-home-text{
    text-align: left;
  }

  #asti-home-text h2,
  #kapp-home-text h2,
  #yampa-home-text h2{
    font-size: 4.5rem;
  }
  
  #asti-home-text h2 small,
  #kapp-home-text h2 small,
  #yampa-home-text h2 small{
    font-size: 2.5rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body {
    /*background: green;*/
  }

  .tinki-details-img{
    width: 100%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body {
    /*background: blue;*/
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
